*{
    margin: 00;
    padding: 00;
 }
 .main{
     width: 100%;
     background:linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%,),url(phot2.JPG);
     background-position:center;
     background-size:cover;
     height:109vh;
 }
 .navbar{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-around;
    
 
 }
 .icon{
     width: 200px;
     float: left;
     height: 70px;
 
 }
 .logo{
     color: red;
     font-size: 30px;
     font-family: Arial;
     padding-left: 20px;
     float:left;
     padding-top: 10px;
 
 }
 .menu{
    display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     justify-content: space-between;
 }
 ul{
     float: left;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 ul li{
     list-style: none;
     margin-left: 62px;
     margin-top: 27px;
     font-size: 14px;
 
 }
 ul li a{
     text-decoration: none;
     color: green;
     font-family: arial;
     font-weight: bold;
     transition: 0.4s ease-in-out;
 }
 ul li a:hover{
 color: orangered;
 }
 .search{
     width: 330px;
     float: left;
     margin-left:270px ;
 }
 .srch{
     font-family: 'Times New Roman';
     width: 200px;
     height: 40px;
     background: transparent;
     border: 1px solid red;
     margin-top: 13px;
     color:black;
     padding: 10px;
     float: left;
     font-size: 16px;
     border-bottom-left-radius: 5px;
     border-top-left-radius: 5px;
 
 }
 
 body{
     background: url(phot2.JPG) no-repeat;
     background-size: cover;
     margin: 00;
    padding: 00;
 }
 .btnn{
     width: 100px;
     height: 40px;
     background:red ;
     border: 2px solid red;
     margin-top: 13px;
     color:white;
     font-size: 15px;
     border-bottom-right-radius: 5px;
     border-bottom-right-radius: 5px;
 }
 .btn:focus{
     outline: none;
 
 }
 .srch:focus{
     outline: none;
 }
 .content{
     height: auto;
     margin: auto;
     color: white;
     margin-bottom: 10px;
     margin-left: 20px;
     
 }
 .content .par{
     padding-left:20px ;
     padding-bottom: 25px;
     font-family: Arial;
     letter-spacing:1.2px ;
     line-height: 30px;
     color: rgb(242, 248, 244);
 }
 
 .content .h1{
     font-family: 'Times New Roman';
     font-size: 50x;
     padding-left: 20px;
     letter-spacing: 2px;
     margin-top: 9%;
 }
    
 .content .cn{
     width: 160px;
     height: 40px;
     background: wheat;
     border: none;
     margin-bottom: 10px;
     margin-left: 20px;
     font-size: 18px;
     border-radius: 10px;
     cursor: pointer;
     transition: 4s ease;
 }
 .content .cn a{
     text-decoration: none;
     color: red;
     transition: 3s ease;
 }
 .cn:hover{
     background-color: rgb(185, 230, 185);
 } 
 .content span{
     color: white;
     font-size: 50px;
 }
 .form {
     width: 250px;
     height: 380px;
     background: linear-gradient( to top, rgba(197, 199, 197, 0.8)50%,rgba(197, 199, 197, 0.8)50%);
     top: -20px;
     margin: 2px;
     padding: 2px;
     
 }
 .form h2{
     width: 233px;
     font-family: sans-serif;
     text-align: center;
     color: red;
     font-size: 22px;
     background-color: white;
     border: 2px;
     padding: 8px;
 }
 .form input{
     width: 240px;
     height: 35px;
     background: transparent;
     border-bottom: 2px solid red;
     border-top: none;
     border-right: none;
     border-left: none;
     color:white;
     font-size: 15px;
     letter-spacing: 1px;
     margin-top: 30px;
     font-family: sans-serif;
 
 }
 .btn{
     width: 250px;
     height: 40px;
     background: red;
     border: none;
     margin-top: 30px;
     font-size: 18px;
     border-radius: 10px;
     cursor: pointer;
     color: white;
     text-align: center;
 }
 .btn:hover{
     background: white;
     color: red;
 }
 .btn a{
     text-decoration: none;
     color: black;
     font-weight: bold;
 }
 .form .link{
     font-family: arial;
     font-size: 17px;
     padding-top: 20px;
     text-align: center;
     color: black;
 }
 .form .link a{
     text-decoration: none;
     color: green;
 }
 .liw{
     padding-top: 15px;
     padding-bottom: 10px;
     text-align: center;
 }
 .icone a{
     text-decoration: none;
     color: white;
     
 }
 
 .icone ion-icone{
     color: white;
     font-size: 30px;
     padding-left: 14px;
     padding-top: 5px;
     transition: 0.3s ease;
     
 }
 .icone ion-icon:hover{
     color: red;
 }
 img{
    height:180px;
    width: 250px;
 }
 
 footer{
    text-align: center;
    color: red;
    font-size: large;
    
 }
 h2{
    text-transform: uppercase;
    color: red;
    
 }
 .contact{
    color: green;
    font-size: x-large;
    text-align: center;
    
 }
 .about{
    color: green;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    font-size: larger;
    padding-left: 60px;
    font-family: Arial;
    justify-content: space-around;
    flex-direction: row;
}   
.about div{
min-width: 300px;
max-width: 500px;
flex:1;
background-color: #FFFFFFAA;
  }  
 
 .hd{
    width: 1000px;
    height: 100px;
    color: rgb(253, 252, 253);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    text-transform: uppercase;
    margin-top: 15px;
 }
 #tit{
    color: red;
    text-decoration: dotted;
    text-transform: capitalize;
    margin-bottom: 15px;
    
 }
 .ft{
    margin-top: 200px; 
    font-size: x-large;
 }
 
 img{
    height: 450px;
    width: 350px;
    
 }
 @import url(https://fonts.googleapis.com/css?family=Open+Sans);
 .tarif{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    font-family: 'Open Sans','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
 }
 .h{
   grid-column: 1/3;
   grid-row: 1;
    height: 100px;
    justify-content: center;
    text-align: center;
    font-size: xx-large;
    
 }
 .matatu{
   
    height: 60px;
    background-color: rgb(153, 153, 202);
    justify-content: center;
    text-align: center;
    font-size: xx-large;
 }
 .cord{
   
    height: 50px;
    background-color: rgb(221, 151, 209);
    justify-content: center;
    text-align: center;
    font-size: xx-large;
    text-decoration-color: aquamarine;
 }
 .dt{
   
    height: 70px;
    background-color: rgb(172, 172, 233);
    justify-content: center;
    text-align: center;
    font-size: xx-large;
    

 }
 .post{
   
    height: 60px;
    background-color: rgb(204, 168, 180);
    justify-content: center;
    text-align: center;
    font-size: xx-large;
 }
 .twist{
   
    height: 60px;
    background-color: rgb(151, 108, 147);
    justify-content: center;
    text-align: center;
    font-size: xx-large;

 }
 .plus{
   
    height: 70px;
    background-color: rgb(186, 168, 216);
    justify-content: center;
    text-align: center;
    font-size: xx-large;
 }
 #f{
    margin: 100px;
    font-size: x-large;
 }
 .sect{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
 }
 .image{
    width: 200px;
    height: 200px;
 }
 


 
 

 

    